* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

h1 {
  color: ghostwhite;
  font-size: 2.5em;
  margin: 0 0 0 1em;
}

textarea {
  width: 300;
  height: 150;
}

.app {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 12vh 12vh auto;
}

.navbar {
  grid-column-start: span 2;
  background-color: #efe2ba;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

form {
  display: flex;
  align-content: center;
}

textarea {
  width: 250px;
  height: 40px;
  margin: 0;
}

button {
  padding: 0.5em;
  border: none;
  border-radius: 3px;
  background-color: #c5cbe3;
  color: ghostwhite;
  font-weight: bold;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.1em;
  margin: 0 2em;
  transition: 1s;
  cursor: pointer;
}

.small-button {
  font-size: 0.5em;
  background-color: rgb(175, 170, 125);
}

.complete-button {
  font-size: 0.5em;
  background-color: rgb(23, 200, 0);
}

.incomplete-button {
  font-size: 0.5em;
  background-color: #faf4e2;
}

button:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

.buttons {
  justify-self: flex-end;
  margin-right: 4em;
}

h2 {
  text-align: center;
  margin: 0.5em 0 0.5em 0;
}

h4 {
  text-align: center;
  margin: 0.5em 0 0.5em 0;
}

.lists {
  margin: 10px;
  justify-content: center;
}

.list-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.list {
  background-color: #faf4e2;
  margin: 5px;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.note {
  background-color: rgb(226, 236, 208);
  margin: 10px;
  padding: 10px;
  border-radius: 3px;
}

.note-container {
  overflow: scroll;
  height: 75vh;
}

.notes {
  margin: 0 1em;
}

.stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: rgb(245, 251, 245);
  text-align: center;
  font-size: 1.3em;
  margin-top: 0.5em;
}
